*.so filter=lfs diff=lfs merge=lfs -text
tns-server filter=lfs diff=lfs merge=lfs -text
release/**/tns-server filter=lfs diff=lfs merge=lfs -text
release/**/*.so filter=lfs diff=lfs merge=lfs -text
worlds/**/*.db filter=lfs diff=lfs merge=lfs -text
worlds/**/*.db-* filter=lfs diff=lfs merge=lfs -text
